     
     <div ng-include="'public/views/partials/header.html'"></div>
     <div class="container" style="margin-top: 20px;margin-bottom: 20px">

       <div class="row profile-card profile-mh" style="width: 100%">
         <div class="col-md-12 top-margin col-centered">
           <h3>Add Employment</h3>
           <div class="panel-body">
             <div id = "tabs-2">
                <form id="addEmploymentForm" >

                     <fieldset class="col-md-4">
                       <fieldset class="form-group">
                         <label for="degree">Company</label>
                         <input type="text" class="form-control" ng-model="emp.company" id="company" name="company" placeholder="Company Name " required />
                       </fieldset>
                       </fieldset>
                       <fieldset class="col-md-4">
                         <fieldset class="form-group">
                           <label for="start_date">Start Date</label>
                           <input type="date" class="form-control" id="start_date" ng-model="emp.start_date" name="start_date" placeholder="start_date " required />
                         </fieldset>
                         </fieldset>

                         <fieldset class="col-md-4">
                           <fieldset class="form-group">
                             <label for="end_date">End Date</label>
                             <input type="date" class="form-control" id="end_date" ng-model="emp.end_date" name="end_date" placeholder="end_date " required />
                           </fieldset>
                           </fieldset>
                           <fieldset class="col-md-4">
                             <fieldset class="form-group">
                               <label for="city">City</label>
                               <input type="text" class="form-control" id="city" ng-model="emp.city" placeholder="City" required />
                             </fieldset>
                             </fieldset>
                             <fieldset class="col-md-4">
                               <fieldset class="form-group">
                                 <label for="country">Country</label>
                                 <input type="text" class="form-control" id="country" ng-model="emp.country" name="country" placeholder="Country" required />
                               </fieldset>
                               </fieldset>
                               <fieldset class="col-md-4">
                                 <fieldset class="form-group">
                                   <label for="description">Description</label>
                                   <input type="text" class="form-control" id="description" ng-model="emp.description" name="description" placeholder="description" required />
                                 </fieldset>
                                 </fieldset>
                                 <fieldset class="col-md-6" style="clear: left;">
                                   <fieldset class="form-group">

                                     <input type="submit" ng-click="saveEmployment()" class="btn btn-success" value="Add Employment">
                                       <a href="/#/home/profile" class="btn btn-danger">Cancel</a>
                                        </fieldset>
                                     </fieldset>


               </form>
             </div>

           </div>
         </div>


</div>
</div>
<div ng-include="'public/views/partials/footer.html'"></div>

