       <div ng-include="'public/views/partials/header.html'"></div>
       <div class="container" style="margin-top: 20px;margin-bottom: 20px">
       <div class="row profile-card profile-mh" style="width: 100%">
         <div class="col-md-12 top-margin col-centered">
           <h3>Add Education</h3>
           <div class="panel-body">
             <div id = "tabs-2">
              <form id="addEducationForm" >

                 <fieldset class="col-md-3">
                   <fieldset class="form-group">
                     <label for="university">University</label>
                     <input type="text" class="form-control" ng-model="edu.university" id="university" name="university" placeholder="Enter university" required />
                   </fieldset>
                 </fieldset>
                     <fieldset class="col-md-3">
                       <fieldset class="form-group">
                         <label for="degree">Degree</label>
                         <input type="text" class="form-control" ng-model="edu.degree" id="degree" name="degree" placeholder=" Degree i.e B.Tech B.E " required />
                       </fieldset>
                       </fieldset>
                       <fieldset class="col-md-3">
                         <fieldset class="form-group">
                           <label for="start_date">Start_date</label>
                           <input type="date" class="form-control" ng-model="edu.start_date" id="start_date" name="start_date" placeholder="start_date " required />
                         </fieldset>
                         </fieldset>
                         <fieldset class="col-md-3">
                           <fieldset class="form-group">
                             <label for="end_date">End_date</label>
                             <input type="date" class="form-control" ng-model="edu.end_date" id="end_date" name="end_date" placeholder="End_date " required />
                           </fieldset>
                           </fieldset>
                           <fieldset class="col-md-3">
                             <fieldset class="form-group">
                               <label for="city">City</label>
                               <input type="text" class="form-control" ng-model="edu.city" id="city" name="city" placeholder="City" required />
                             </fieldset>
                             </fieldset>
                             <fieldset class="col-md-3">
                               <fieldset class="form-group">
                                 <label for="country">Country</label>
                                 <input type="text" class="form-control" ng-model="edu.country" id="country" name="country" placeholder="Country" required />
                               </fieldset>
                               </fieldset>
                               <fieldset class="col-md-3">
                                 <fieldset class="form-group">
                                   <label for="description">Description</label>
                                   <input type="text" class="form-control" ng-model="edu.description" id="description" name="description" placeholder="description" required />
                                 </fieldset>
                                 </fieldset>
                                 <fieldset class="col-md-6" style="clear: left;">
                                   <fieldset class="form-group">

                                     <input type="submit" ng-click="saveEducation()" class="btn btn-success" value="Add Education">
                                       <a href="/#/home/profile" class="btn btn-danger">Cancel</a>
                                     </fieldset>
                                    </fieldset>


               </form>
             </div>

           </div>
         </div>
       </div>

</div>
<div ng-include="'public/views/partials/footer.html'"></div>