<div ng-include="'public/views/partials/header.html'"></div>

<div class="row">
    <div class="col-md-12 zero-padding">
              <div class="col-md-8 zero-padding">
                  <div class="card pcard">
                      <div class="summary">
                          <div class="col-md-12">
                              <div class="card-title">Upload Photo</div>
                              <div class="description">
                                  <div class="col-md-12">
                                      <div class="col-md-6" id="upload_photo">
                                          <input type="radio" name="upload" value="webcam" ng-model="upload" checked><span class="radio-text">Webcam</span> &nbsp;&nbsp;
                                          <input type="radio" name="upload" value="disk"  ng-model="upload"><span class="radio-text"> Browse</span>
                                      </div>
                                  </div>
                                 <div class="col-md-12"> <hr/></div>
                                  <div class="col-md-12"  style="margin-bottom: 20px;">
                                      <div class="webcam-upload" ng-show="upload == 'webcam'">
                                          <div class="photos">
                                              <div class="col-md-6"><video id="picvideo" autoplay></video></div>
                                              <div class="col-md-6"><canvas id="canvas" style="width: 300px; margin-left: 10px;"></canvas></div>
                                          </div>
                                          <div class="btns col-md-12">
                                              <div class="col-md-6">

                                                  <button id="capture" class="btn btn-primary" ng-click="capture()"><i class="fa fa-camera" aria-hidden="true"></i>Capture</button>

                                                  <button id="upload" class="btn btn-success" ng-click="uploadPicCanvas()"><i class="fa fa-upload" aria-hidden="true"></i>Upload</button>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="browse-photos" ng-show="upload == 'disk'">

                                          <div class="col-md-12">
                                            <table class="table">
                                                <tr>
                                                    <td> <input type="file" file-model="myFileBrowse"/></td>
                                                    <td> <input type="submit" class="btn btn-success" value="Submit" ng-click="uploadPicBrowse()"></td>
                                                </tr>
                                            </table>
                                          </div>
                                    </div>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
</div>
<div ng-include="'public/views/partials/footer.html'"></div>
