
<div class="container" style="margin-top: 20px;margin-bottom: 20px">



       <div class="row">
           <div class="col-md-12 top-margin col-centered profile-card" style="width: 100%;">

    <div class="panel-body">
        <div id = "tabs-2">
            <h3>Add Profile</h3>
            <form method="post" >
                <fieldset class="col-md-4">
                    <fieldset class="form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" class="form-control" id="first_name" ng-model="profile.first_name"  name="first_name" placeholder="Enter First Name" required />
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="date_of_birth">Date of Birth</label>
                        <input type="date" class="form-control" id="date_of_birth" ng-model="profile.date_of_birth" name="date_of_birth" placeholder="Date of Birth">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" ng-model="profile.address" name="address" placeholder="Enter Address" required />
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="pincode">Pincode</label>
                        <input type="text" class="form-control" id="pincode" ng-model="profile.pincode" name="pincode" placeholder="Enter Pincode" required />
                    </fieldset>

                </fieldset>


                <fieldset class="col-md-4" >
                    <fieldset class="form-group">
                        <label for="surname">Middle Name</label>
                        <input type="text" class="form-control" id="middle_name" ng-model="profile.middle_name" name="middle name" placeholder="Enter Middle Name">
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="gender">Gender</label>
                        <select class="form-control" id="gender" ng-model="profile.gender" name="gender">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" ng-model="profile.city" name="city" placeholder="Enter City">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="designation">Designation</label>
                        <input type="text" class="form-control" id="designation" ng-model="profile.designation" name="designation" placeholder="Enter Designation">
                    </fieldset>
                </fieldset>
                <fieldset class="col-md-4" >
                    <fieldset class="form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" class="form-control" id="last_name" ng-model="profile.last_name" name="last_name" placeholder="Enter Last Name">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="phone">phone ( Please specify your country code )</label>
                        <input type="text" class="form-control" id="phone" ng-model="profile.phone" name="phone" placeholder="phone">
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" id="country" ng-model="profile.country" name="country" placeholder="Enter Country">
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="industry">Industry</label>
                        <input type="text" class="form-control" id="industry" ng-model="profile.industry" name="industry" placeholder="Enter Industry">
                    </fieldset>



                </fieldset>
                 <fieldset class="col-md-12" >
                <fieldset class="form-group">
                    <label for="about_me">About Me</label>
                    <textarea class="form-control" id="about_me" name="about_me" ng-model="profile.about_me" rows="3" ></textarea>
                </fieldset>
                <fieldset class="form-group">
                    <input type="submit" class="btn btn-success" ng-click="saveProfile()"  value="update">
                    <span class="dng-btn">   <a href="#" class="btn btn-danger">Cancel</a></span>
                </fieldset>
                </fieldset>
            </form>
        </div>
    </div>
</div>


</div>
</div>
<div ng-include="'public/views/partials/footer.html'"></div>
