           
     <div ng-include="'public/views/partials/header.html'"></div>
     <div class="container" style="margin-top: 20px;margin-bottom: 20px">
        <div class="row profile-card profile-mh" style="width: 100%">
            <div class="col-md-12 top-margin col-centered">
                <h3>Add Skill</h3>
                <div class="panel-body">
                    <div id="tabs-2">

                        <form id="signupForm">

                            <fieldset class="col-md-3">
                                <fieldset class="form-group">
                                    <label for="name">Skill Name</label>
                                    <input type="text" id="name" class="form-control" ng-model="skill.name" name="name" placeholder=" Skill name " required />
                                </fieldset>
                            </fieldset>

                            <fieldset class="col-md-3">
                                <fieldset class="form-group">
                                    <label for="description">Description</label>
                                    <input type="text" class="form-control" id="description" ng-model="skill.description" name="description" placeholder=" Description ">
                                </fieldset>
                            </fieldset>

                            <fieldset class="col-md-3">
                                <fieldset class="form-group">
                                    <label for="last_used">Last Used</label>
                                    <input type="date" class="form-control" id="last_used" ng-model="skill.last_used" name="last_used" placeholder=" e.g 3 months " >
                                </fieldset>
                            </fieldset>

                            <fieldset class="col-md-3">
                                <fieldset class="form-group">
                                    <label for="experience">Experience</label>
                                    <input type="text" class="form-control" id="experience" ng-model="skill.experience" name="experience" placeholder="e.g 5 years " >
                                </fieldset>
                            </fieldset>
                            <fieldset class="col-md-3">
                                <fieldset class="form-group">
                                    </fieldset>
                            </fieldset>
                            <fieldset class="col-md-3">
                                <fieldset class="form-group">
                                    </fieldset>
                            </fieldset>
                            <fieldset class="col-md-3">
                                <fieldset class="form-group">
                                    </fieldset>
                            </fieldset>
                            <fieldset class="col-md-3">
                                <fieldset class="form-group">
                                    </fieldset>
                            </fieldset>


                            <fieldset class=" col-md-6">
                                <fieldset class="form-group">
                                    <input type="submit" ng-click="saveSkill()" class="btn btn-success" value="Add Skill">
                                    <a href="/#/home/profile" class="btn btn-danger">Cancel</a>
                                </fieldset>
                              </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div ng-include="'public/views/partials/footer.html'"></div>