 <div ng-include="'public/views/partials/header.html'"></div>
 <div class="row">
      <!--ng-show="vcallPopupWin"-->
         <div class="vcall-popup" ng-show="vcallPopupWin">
            <button class="call-button accept" data-toggle="tab" href="#VideoCall" ng-click="acceptCall()" >
                <i class="fa fa-phone fa-5x fa-green" aria-hidden="true"></i>
                </button> 
                <button class="call-button reject" ng-click="rejectCall()"><i class="fa fa-times fa-5x fa-red" aria-hidden="true"></i></button>
</div>   
</div>



 <div class="container" style="margin-top: 20px;margin-bottom: 20px">
 <div class="row">
        <div class="col-md-12 zero-padding">
            <div class="col-md-9 zero-padding">
                <div class="chat-container">
                    <div class="left">
                      <div class="top">
                          All Messages &nbsp; <span class="fa fa-angle-down"></span>
                      </div>
                        <div class="top-search">
                          <a href="javascript:;" class="left-search-button" onclick="getSearchChat()"><i class=" fa fa-search users-search"></i></a> 
                            <input type="text" placeholder="Search" id="search-Person" class="searchinput">
                            <span id="searchclear" class="searchclear glyphicon glyphicon-remove-circle" ng-click="socFun()"></span>
                         
                        </div>
                        <ul class="people zero-padding" id="chat-people">
                            
                          <li class="person left-user " ng-class="{active : activeMenu === list.user_id}" ng-repeat="list in connList ">
                           <a  style="text-decoration: none;"  ng-click="selectUser(list,list.user_id)" >
                               <div ng-click="selectUser(list,list.user_id)">
                           <img ng-src="/uploads/{{list.user_id}}.jpg" onerror="this.src='public/images/default-avatar.png'">
                           <span class="name">{{list.first_name}} {{list.last_name}}
                             <span class="badge notification-left-badge"></span>
                           </span>
                           <div class="preview">
                             <div class="{{list.status}}" ></div>
                             <!--<div class="online" ng-show="userStatusClass()"></div>-->
                           </div>
                               </div>
                         </a>
                         </li>

                        </ul>
                    </div>
                    <div class="right">

                        <div class="top">
                          <ul class="people zero-padding" >
                              <li class="person" data-chat="person1">
                                  <img id="remoteChatImage" src="uploads/{{attendee.user_id}}.jpg" alt="" onerror="this.src='public/images/default-avatar.png'" />
                                  <span class="name" id="remoteName">{{attendee.first_name}} {{attendee.last_name}}</span>
                                  <span  class="time" id="left-user-designation"></span>
                                  <i class="fa fa-ellipsis-h pull-right menu "></i>
                              </li>

                          </ul>
                          <!-- <span>To: <span class="name" id="remoteName"></span></span> -->
                        </div>
                        <div class="chat active-chat">
                            <div class="chat_box" id="chat-messaages">

                                	<div id="demo-chat-body" class="collapse in">
    			<div class="nano has-scrollbar" style="height:380px">
    				<div class="nano-content pad-all" tabindex="0" style="right: -17px;">
    					<ul class="list-unstyled media-block">
    						<li class="mar-btm" ng-repeat="x in messageData">
    							<div  ng-class="dclass(x.sender_id)" >
    								<img src="http://bootdey.com/img/Content/avatar/avatar1.png" class="img-circle img-sm" alt="Profile Picture">
    							</div>
    							<div class="media-body pad-hor" ng-class="dspeech(x.sender_id)">
    								<div class="speech">
    								
    									<p>{{x.sent_msg}}</p>
    									
    								</div>
    							</div>
    						</li>
    						
    		
    					</ul>
    				</div>
                    <div class="nano-pane"><div class="nano-slider" style="height: 141px; transform: translate(0px, 0px);"></div></div></div>
                    </div>



                                <!--<ul>
                                    <li class=" bubble" ng-repeat="x in dumData">{{x.text}}</li>
                                </ul>-->
                            </div>
                        </div>

                        <div class="write" id="send-div">
                            <a  class="write-link attach "><span class='fa fa-paperclip'></span></a>
                             <input type="text" id="sendMessageText" ng-model="messageText" autocomplete="off"/>

                             <button class="write-link send send-button" id="send-button" ng-click="sendMessage()"><i class='fa fa-paper-plane-o'></i></button>
                             <!--<a  class="write-link send" id="send-button" dumClick() ng-click="sendMessage()"><span class='fa fa-paper-plane-o'  id="send-button-span"></span></a>-->
 <!--                            <a href="javascript:;" class="write-link send-message fa fa-send" onclick="return false;"></a>-->
                             <!-- <span id="send-button-span"><button class="write-link send-message fa fa-send" id="send-button"></button></span> -->
                             
                         </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="goto_meeting">
                    <div class="col-md-3 zero-padding left">
                        <ul class="zero-padding" data-tabs="tabs" id="myTab">
                            <li class="active"> <button class="fa fa-user btn-no-style" style="padding: 12px 15px" title="Attendees" id="attendess-list" data-toggle="tab" href="#menu1"></button> </li>
                            <li><button class="fa fa-desktop btn-no-style" title="Screen Sharing" data-toggle="tab" href="#screen-sharing"></button></li>
                            <li><button class="fa fa-phone btn-no-style" data-toggle="tab" title="Call" href="#VideoCall" id="video-call-button"></button></li>
                            <li><button class="fa fa-calendar btn-no-style" data-toggle="tab" href="#meeting" title="Schedule Meeting" id="schedule-meeting-tab"></button></li>
                           </ul>
                    </div>

                    <div class="col-md-9 zero-padding right ">
                        <div class="tab-content">
                            <div id="menu1" class="tab-pane fade in active">
                                <div class="attendees">
                                    <div class="title">Attendees</div>
                                    <ul class="zero-padding">
                                        <li><span class="fa fa-microphone active"></span> <label id="attendee-current">{{uData.first_name}} {{uData.middle_name}} {{uData.last_name}}</label></li>
                                        <li><span class="fa fa-microphone active"></span> <label id="attendee-remote">{{attendee.first_name}} {{attendee.middle_name}} {{attendee.last_name}}</label> </li>
                                    </ul>
                                </div>
                            </div>

                            <div id="screen-sharing" class="tab-pane fade in">
                                <div class="screen-share">
                                    <div class="title">Screen Sharing</div>
                                    <button id="share-screen" class="setup btn btn-success"><span class="fa fa-desktop active"></span>  Share Your Screen</button>
                                    <table style="width: 100%;" id="rooms-list"></table>
                                    <div id="videos-container"></div>
                                </div>
                            </div>
                            <div id="VideoCall" class="tab-pane fade in">
                                <div class="video-call">
                                    <div  ng-if="!callingSpinner" class="title">Calling
                                        <img class="callingicon" src="public/images/ellipsis.gif">
                                        
                                    </div>
                                    
                                    <button class="btn btn-success" id="call-button-div" ng-show="callingButton" ng-disabled="attendee.status != 'online'" ng-click="videoCall()" ><span class="fa fa-phone"></span> Call </button>
                                    
                                    <div class="col-md-12" id="videos">
                                      <div class="controlButtons" ng-hide="callingButton">
                                            <div id="handupDiv">
                                              <input type="image" id="hangupButton" src="public/images/ic_call_end_white_48dp_2x.png" title="HangUP" ng-click="disconnectVCall()" width="25" height="25"></input><br>
                                            </div>
                                            <div id="fullscreenDiv">
                                              <input type="image" id="controlFullscreen" src="public/images/ic_fullscreen_white_48dp_2x.png" title="Full Screen" onclick="fullScreen()" width="25" height="25"></input><br>
                                            </div>
                                            <div id="videoDiv">
                                              <input type="image" id="controlButtonVideo" src="public/images/ic_videocam_white_48dp_2x.png" title="Video On/Off" ng-click="changeVideoState()" width="25" height="25"></input><br>
                                            </div>
                                            <div id="audioDiv">
                                              <input type="image" id="controlButtonAudio" src="public/images/ic_mic_white_48dp_2x.png" title="Audio On/Off" ng-click="changeaudioState()" width="25" height="25"></input>
                                            </div>
                                            <div id="recordDiv">
                                              <input type="image" id="startStopRecording" src="public/images/ic_video_call_white_48dp_2x.png" title="Video Recording Start/Stop" onclick="recordVid()" width="25" height="25"></input>
                                            </div>
                                            <div id="downloadDiv" data-toggle="tooltip" title="Download Video">
                                            </div>
                                        </div>
                                        <div id="videoBlock">
                                            <div id="publisher"></div>
                                            <div id="subscriber"></div>
                                            
    
                                        </div>
                                    </div>
                                    <div class="col-md-12"></div>
                                </div>
                            </div>
                            <div id="meeting" class="tab-pane fade in">
                                <div class="meeting">
                                    <div class="title">Schedule Meeting</div>                                 
   
                                        <div class="row">
                                            <div class="col-md-10">
                                                <input datetime-picker ng-model="scheduleTime"/>
                                                <button class="btn-no-style btn btn-success" ng-model="scheduleTime" ng-click="schedule()">Schedule</button>
                                            </div>
                                        </div>
                              
                                    </div>
                                    <br>
                                    <div class="pull-left" style="clear:left; margin-top: 10px;">
                                        <label>Meetings With :{{attendee.first_name}} {{attendee.middle_name}} {{attendee.last_name}}</label>
                                        <div class="attendees" style="height: 50px;">
                                            <ul class="zero-padding" id="meetingsByYou" style="height: 395px; overflow: auto;">

                                            </ul>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                     </div>
                    </div>
                   

                </div>
            </div>
        </div>
    </div>
    </div>


   <!--<div class="vcall-popup"  >
        <button class="btn btn-success" data-toggle="tab" href="#VideoCall" ng-click="acceptCall()">Accept</button>
        <button class="btn btn-danger"></button></div>-->

    <div ng-include="'public/views/partials/footer.html'"></div>