<div ng-include="'public/views/partials/header.html'"></div>


<div class="container" style="margin-top: 20px;margin-bottom: 20px">

    <div class="row">
        <div class="col-md-12 zero-padding">
            <div class="col-md-8 zero-padding">
                <div class="home-profile-card">
                    <div class="col-md-12">
                        <div class="col-md-6 zero-padding" style="border-right: 1px solid #dddddd;padding: 10px 0;">
                            <div class="col-md-4 zero-padding" ><img src="uploads/{{profileData.user_id}}.jpg?time={{getTime()}}" onError="this.src='public/images/default-avatar.png'"> </div>
                            <div class="col-md-8 right-panel zero-padding" >
                                <div class="col-md-12 zero-padding">
                                    <div class="pname">{{profileData.first_name}} {{profileData.middle_name}} {{profileData.last_name}}</div>
                                    
                                    <div class="designation">{{profileData.designation}}</div><br/>
                                   
                                    <a href="#">Improve your profile</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="right-bar">
                                <div class="count">5</div>  <div class="message" style="margin-bottom: 10px;"> people viewed your profile in the past 15 days</div>
                                <div class="clearfix"></div>
                                <div class="count">277</div>  <div class="message"> connections.<a href="#"> Grow your network</a> </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                     <img src="public/images/home_page_link.png">
                </div>


                <div class="card">
                    <img src="public/images/home_page_img1.png">
                </div>
                <div class="card">
                    <img src="public/images/home_page_img2.png">
                </div>
                <div class="card">
                    <img src="public/images/home_page_img3.png">
                </div>
                <div class="card">
                    <img src="public/images/home_page_img4.png">
                </div>

            </div>
            <div class="col-md-4">
                <img src="public/images/home_page_right_img.png"/>
            </div>
        </div>
    </div>
</div>
<div ng-include="'public/views/partials/footer.html'"></div>