<div class="banner">
  <div class="container">
    <div class="alert error" ng-show="showErr"> {{errMsg}} <i class="fa fa-times pull-right" ng-click="hideErr()" aria-hidden="true"></i>
</div>
    <div class="row vertical-offset-100" style="margin-top: 16%">
      <div class="col-md-5 col-md-offset-4" style="margin-left: 28%">
        
        <div class="inner-wrapper">
          
          <h3 class="panel-title" style="text-align: center"> </h3>
          <form accept-charset="UTF-8" role="form" >

            <fieldset>
              <div class="form-group">
                <input class="form-control" placeholder="E-mail" name="email" ng-model="username" type="text"  required>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Password" name="password" type="password" ng-model="userpassword" value=""  required>
              </div>
              <input class="btn btn-lg btn-primary btn-block" ng-click="doLogin()" type="submit" value="Sign in">
            </fieldset>
          </form>
          <div style="color: #666;margin: 20px 0 0 10px;">Not a member? <a href="/#/register">Join now</a></div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="col-md-3 grid_3">
      <h4>Navigate</h4>
      <ul class="f_list f_list1">
        <li><a href="index.html">Home</a></li>
        <li><a href="login.html">Sign In</a></li>
        <li><a href="login.html">Join Now</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
      <ul class="f_list">
        <li><a href="features.html">Features</a></li>
        <li><a href="terms.html">Terms of use</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <li><a href="jobs.html">Post a Job</a></li>
      </ul>

      <div class="clearfix"> </div>
    </div>
    <div class="col-md-2 grid_3">
      <h4>Links</h4>
      <ul class="f_list">
        <li><a href="index.html">Home</a></li>
        <li><a href="login.html">Sign In</a></li>
        <li><a href="login.html">Join Now</a></li>
        <li><a href="about.html">About</a></li>
      </ul>


      <div class="clearfix"> </div>
    </div>

    <div class="col-md-3 grid_3">
      <h4>Seeking</h4>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't  look even slightly believable. </p>
    </div>

    <div class="col-md-4 grid_3">
      <h4>Sign up for our newsletter</h4>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam.</p>
      <form>
                <span class="col-md-7">
                <input type="text" class="form-control" placeholder="Enter your email">
                    </span>
        <button type="button" class="btn btn-primary">Subscribe now!</button>
      </form>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
