
<nav class="navbar navbar-default" role="navigation">
    <div class="container" style="width: 970px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="public/images/logo.png">
        </div>
        <!--/.navbar-header-->
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px;">

            <form id="signin" class="navbar-form navbar-right" role="form" style="margin-top: 0;" action="/auth/login" method="POST">
                <div class="form-group">
                    <input id="email" type="email" class="form-control" name="email" value="" placeholder="Email Address" required>
                </div>

                <div class="form-group">
                    <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password" required>
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--/.navbar-collapse-->
</nav>
<div class="register_banner">
    <div class="container" >
        <div class="col-md-5  col-md-offset-4 " style="margin: 3% 0 0 31.5%;width: 428px;">
            <div class="fodal-wrapper">
                <div class="header-container"></div>
                <div class="content-container">
                    <div class="reg-content-wrapper">
                        <div class="join-form-container form-container">
                            <div class="join-form-wrapper form-wrapper">
                                <h1>Be great at what you do</h1>
                                <h2>Get started - it's free.</h2>
                                <form class="join-linkedin-form float-label-form" id="signupForm2" >
                                    <fieldset>
                                        <ul class="input-fields container-box" style="padding-left: 0;list-style: none">
                                            <li class="email-field cell cell-input">
                                                <div class="email-wrapper cell-body"><label for="join-email">Email</label>
                                                    <input type="email" value="" name="email" id="email"  class="cell-body-textinput" ng-model="email" required>
                                                </div>
                                            </li>
                                            <li class="password-field cell cell-input">
                                                <div class="password-wrapper cell-body">
                                                    <label for="join-password">Password</label>
                                                    <input type="password" name="password" id="join-password" aria-required="true" autocomplete="off" ng-model="password"  class="cell-body-textinput" required="Please Enter">
                                                </div>
                                            </li>
                                            <li class="password-field cell cell-input">
                                                <div class="password-wrapper cell-body">
                                                    <label for="confirm-password">Confirm Password</label>
                                                    <input type="password" name="confirm-password" id="confirm-password" aria-required="true" ng-model="confirmpassword" autocomplete="off" class="cell-body-textinput" required>
                                                </div>
                                            </li>
                                        </ul>
                                        <p class="disclosure-text">By clicking <span id="disclosure-cta">Join now</span>, you agree to LinkedIn's <a href="#" class="tapable" target="_blank">User Agreement</a>,
                                            <a href="#" class="tapable" target="_blank">Privacy Policy</a>, and
                                            <a href="#" class="tapable" target="_blank">Cookie Policy</a>.
                                        </p>
                                        <button data-position-join="right" class="btn  join-btn btn-block" ng-click="doRegistration()" style="background-color: #EED412" type="submit">
                                            <span class="fill-v2">Join now</span>
                                        </button>
                                    </fieldset>
                                    <input type="hidden" value="true" name="isJsEnabled">
                                    <input type="hidden" value="reg-cold-signup-home" name="trcode">
                                    <input type="hidden" value="03f9e6a8-3a4a-4a1b-82ac-92da7253ed98" name="regCsrf">
                                    <input type="hidden" value="" id="referer" name="referer">
                                    <input type="hidden" value="" id="source" name="source">
                                    <input type="hidden" value="reg-cold-signup-home" id="referrerPageKey" name="referrerPageKey">
                                    <input type="hidden" value="ajax:8424813957031108147" name="csrfToken">
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

