<div ng-include="'public/views/partials/header.html'"></div>
<div class="container" style="margin-top: 20px;margin-bottom: 20px">


    <!--ng-init for request data from api-->
    <div class="row" ng-init="getRemoteProfileData()">
        <div class="col-md-12 zero-padding">
            <div class="col-md-8 zero-padding">
                <div class="profile-card">
                    <div class="col-md-4 zero-padding" >
                      <a href="#" id="addprofilepic" title="Add/Update Profile Pic">
                        <img src="uploads/{{profileDataRemote.user_id}}.jpg?time={{getTime()}}" onError="this.src='public/images/default-avatar.png'">
                      </a>
                    </div>
                    <div class="col-md-8 right-panel" >
                      <div class="col-md-12 zero-padding">
                          <div class="pname">{{profileDataRemote.first_name}} {{profileDataRemote.middle_name}} {{profileDataRemote.last_name}}</div>
    
                          <div class="designation">{{profileDataRemote.designation}}</div>
                         <div class="location">  {{profileDataRemote.city}}, {{profileDataRemote.country}} | {{profileDataRemote.industry}}</div>
                        
<!--
                          <div class="previous-comapny"><div class="col-md-2" style="padding: 0">
                              <span>Previous</span></div><div class="col-md-10"> Innominds Software Pvt Ltd</div>
                          </div>
-->
                          <div class="education"><div class="col-md-2" style="padding: 0"><span>Education</span></div><div class="col-md-10">
                            </div></div>

                      </div>
                        <div class="col-md-12 zero-padding profile_btns">
                            <div class="col-md-9 ">

                                <a class="btn btn-primary btn-success" ng-click="connect()">Connect</a>
<!--                                <button class="btn btn-success"><span class="fa fa-comment"></span> Connect</button>-->

                            </div>
                            <div class="col-md-3 pull-right connections-count">274 <p>connections</p></div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="summary">
                        <div class="col-md-12">
                            <div class="card-title">Summary </div>
                            <div class="description">{{profileDataRemote.about_me}}</div>
                            <div class="summary-links">
                                Skills:
                                
                                <a   ng-repeat="x in profileSkillsRemote" class="attachment" > {{x.skill_name}}</a>
                              

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="experience">
                        <div class="col-md-12">
                            <div class="card-title">Experience </div>
                            <div ng-repeat="x in profileEmpRemote">
                            <div class="description">
                                <img src="public/images/atmecs.png" class="pull-right">

                                <div class="role">{{x.description}}</div>
                                <div class="company">{{x.company}}</div>
                                <div class="period">01/01/1900 – Present (1 year 5 months){{x.city}} Area, India</div>
                            </div>
                          
                              <br/>
                              <hr/>
                            </div>

                            
                            <br/>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="experience">
                        <div class="col-md-12">
                            <div class="card-title">Education </div>
                            <div ng-repeat="x in profileEduRemote">
                            <div class="description">
                                <div class="role">{{x.university}}</div>
                                <div class="company">{{x.degree}} Computer Science and Engineering</div>
                                <div class="period">2003 - 2007</div>
                            </div>
                           
                            <hr/>
                            </div>
                              <br/>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="experience">
                        <div class="col-md-12">
                            <div class="card-title">Additional Info</div>
                            <div class="description">
                                <div class="role">Personal Details</div>
                                <div class="period"><span>Birthday</span> 01/01/1900</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="public/images/strength.png"/>
            </div>
        </div>
    </div>
</div>
<div ng-include="'public/views/partials/footer.html'"></div>