.chat-container {
    position: relative;
    top: 50%;
    left: 50%;
    /* width: 80%;*/
    /*  height: 75%;*/
    background-color: #fff;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 795px;
}
.chat-container ul{
    list-style: none;
}
.chat-container .left {
    float: left;
    /*width: 37.6%;*/
    width: 33%;
    height: 100%;
    border: 2px solid #e6e6e6;

}
.chat-container .left .top {

    width: 100%;
    height: 58px;
    padding: 20px 42px;
    font-size: 18px;
    color: #66696a;
    background-color: #fff;

}
.chat-container .left .top:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 80%;
    height: 1px;
    content: '';
    background-color: #e6e6e6;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);

}
.chat-container .left .top-search {
    float: left;

    background-color: #efefef;

}
.chat-container .left .top-search .users-search{

    color: #229ace;
    float: left;
    background-color: #e9e9e9;
    font-size: 18px;
    font-weight: normal;
    padding: 14px 14px 14px 35px;
}
.chat-container .left input {
    float: left;
    width: 160px;
    height: 45px;
   /* padding: 0 15px;*/
    border: 1px solid #e9e9e9;
    background-color: #e9e9e9;
    /*-moz-border-radius: 21px;
    -webkit-border-radius: 21px;*/
    /*border-radius: 21px;*/
    font-family: Helvetica,FreeSans,"Liberation Sans",Helmet,Arial,sans-serif;
    font-weight: 400;
    font-size: 15px;
}
.chat-container .left input:focus {
    outline: none;
}
.chat-container .left a.search {
    display: block;
    float: left;
    width: 42px;
    height: 42px;
    margin-left: 10px;
    border: 1px solid #e6e6e6;
    background-color: #00a0dc;
    /*
    background-image: linear-gradient(to right bottom, #23b4ca, #00a0dc);
    */
    /*background-image: url("http://s11.postimg.org/dpuahewmn/name_type.png");*/
    background-repeat: no-repeat;
    background-position: top 12px left 14px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.chat-container .left a.search span{
    color: white;
    font-size: 16px;
    margin: 11px 0 0 12px;
}
.chat-container .left .people {
    margin-left: -1px;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    width: -moz-calc(100% + 2px);
    width: -webkit-calc(100% + 2px);
    width: -o-calc(100% + 2px);
    width: calc(100% + 2px);
    float: left;
    height: 445px;
    overflow: hidden;w-x: hidden;
    overflow-y: auto;
    background-color: white;
}
.chat-container .left .people .person {
    position: relative;
    width: 100%;
    padding: 12px 10% 16px;
    cursor: pointer;
    background-color: #fff;
}
.chat-container .left .people .person:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 80%;
    height: 1px;
    content: '';
    background-color: #e6e6e6;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.chat-container .left .people .person img {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.chat-container .left .people .person .name {
    font-size: 15px;
    line-height: 22px;
    color: #1a1a1a;
    font-family: Helvetica,FreeSans,"Liberation Sans",Helmet,Arial,sans-serif;
    font-weight: normal;
}
.chat-container .left .people .person .time {
    font-size: 12px;
    position: absolute;
    top: 16px;
    right: 2%;
    padding: 0 0 5px 5px;
    color: #999;
    background-color: #fff;
}
.chat-container .left .people .person .preview {
    font-size: 12px;
    display: inline-block;
    overflow: hidden !important;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #999;
}
.chat-container .left .people .person.active {
    margin-top: -1px;
    margin-left: -1px;
    padding-top: 13px;
    border: 0;
    /*background-color: #00b0ff;*/
    background-image: linear-gradient(to right bottom, #23b4ca, #00a0dc);
    width: -moz-calc(100% + 2px);
    width: -webkit-calc(100% + 2px);
    width: -o-calc(100% + 2px);
    width: calc(100% + 2px);
    padding-left: -moz-calc(10% + 1px);
    padding-left: -webkit-calc(10% + 1px);
    padding-left: -o-calc(10% + 1px);
    padding-left: calc(10% + 1px);
    padding-right: 2px;
}
.chat-container .left .people .person:hover {
    margin-top: -1px;
    margin-left: -1px;
    padding-top: 13px;
    border: 0;
    /*background-color: #00b0ff;*/
/*    background-image: linear-gradient(to right bottom, #23b4ca, #00a0dc);*/
    background-color: #ccc;
    width: -moz-calc(100% + 2px);
    width: -webkit-calc(100% + 2px);
    width: -o-calc(100% + 2px);
    width: calc(100% + 2px);
    padding-left: -moz-calc(10% + 1px);
    padding-left: -webkit-calc(10% + 1px);
    padding-left: -o-calc(10% + 1px);
    padding-left: calc(10% + 1px);
    padding-right: 2px;
}
.chat-container .left .people .person.active span, .chat-container .left .people .person:hover span {
    color: #fff;
    background: transparent;
}
.chat-container .left .people .person.active:after, .chat-container .left .people .person:hover:after {
    display: none;
}
.chat-container .right {
    position: relative;
    float: left;
    width: 64%;
    /*width: 62.4%;*/
    height: 541px;
}
.chat-container .right .top {
    width: 100%;
    height: 60px;
    padding: 7px 20px;
    background-color: #fff;
    border-top: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
}


.chat-container .right .top ul li img{
    width: 44px;
    height: 44px;
    float: left;
    border-radius: 50%;
}
.chat-container .right .top ul li .name{
 font-size: 18px;

    width: 400px;
}
.chat-container .right .top ul li .time{
    font-size: 12px;
}
.chat-container .right .top ul li span{
    float: left;
    color: #333333;
    margin-left: 12px;
}

.chat-container .right .top .menu {
    color: #8a8a8a;
    border-radius: 50%;
    padding: 11px;
    margin-top: -24px;
    font-size: 22px;
}
.chat-container .right .top .menu:hover {
    background-color: #e4e4e4;
}
/*.chat-container .left .top {

    width: 100%;
    height: 58px;
    padding: 20px 42px;
    font-size: 18px;
    color: #66696a;
    background-color: #fff;

}*/

.chat-container .right .top span {
    font-size: 15px;
    color: #999;
}
.chat-container .right .top span .name {
    color: #1a1a1a;
    font-family: Helvetica,FreeSans,"Liberation Sans",Helmet,Arial,sans-serif;
    font-weight: 600;
}
.chat-container .right .chat {
    position: relative;
    display: none;
    overflow: hidden;
    padding: 0 0 92px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #e6e6e6;
    height: -moz-calc(100% - 48px);
    height: -webkit-calc(100% - 48px);
    height: -o-calc(100% - 48px);
    height: calc(100% - 48px);
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: #ffffff;
}
.chat-container .right .chat.active-chat {
    display: block;
    display: -webkit-flex;
    display: flex;
}
/*.chat-container .right .chat.active-chat .bubble {
    -moz-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
    -o-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
    -webkit-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
    transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
}
.chat-container .right .chat.active-chat .bubble:nth-of-type(1) {
    -moz-animation-duration: 0.15s;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
}
.chat-container .right .chat.active-chat .bubble:nth-of-type(2) {
    -moz-animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.chat-container .right .chat.active-chat .bubble:nth-of-type(3) {
    -moz-animation-duration: 0.45s;
    -webkit-animation-duration: 0.45s;
    animation-duration: 0.45s;
}
.chat-container .right .chat.active-chat .bubble:nth-of-type(4) {
    -moz-animation-duration: 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}
.chat-container .right .chat.active-chat .bubble:nth-of-type(5) {
    -moz-animation-duration: 0.75s;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
}
.chat-container .right .chat.active-chat .bubble:nth-of-type(6) {
    -moz-animation-duration: 0.9s;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}
.chat-container .right .chat.active-chat .bubble:nth-of-type(7) {
    -moz-animation-duration: 1.05s;
    -webkit-animation-duration: 1.05s;
    animation-duration: 1.05s;
}
.chat-container .right .chat.active-chat .bubble:nth-of-type(8) {
    -moz-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}
.chat-container .right .chat.active-chat .bubble:nth-of-type(9) {
    -moz-animation-duration: 1.35s;
    -webkit-animation-duration: 1.35s;
    animation-duration: 1.35s;
}
.chat-container .right .chat.active-chat .bubble:nth-of-type(10) {
    -moz-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}*/
.chat-container .right .write {
    position: absolute;
    bottom: -5px;
    left: 30px;
    height: 85px;
    padding-left: 26px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: -o-calc(100% - 40px);
    width: calc(100% - 40px);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-top: 7px;
}
.chat-container .right .write input {
    font-size: 13px;
    float: left;
    width: 360px;
    height: 40px;
    padding: 0 10px;
    color: #1a1a1a;
    border: 0;
    outline: none;
    background-color: #ffffff;
    font-family: Helvetica,FreeSans,"Liberation Sans",Helmet,Arial,sans-serif;
    font-weight: 400;
}

.chat-container .right .write .write-link.attach {
  float: left;
  font-size: 18px;
  color: #999;
}

.chat-container .right .write .write-link.send, .chat-container .right .write .write-link.smiley {
  font-size: 18px;
  color: #999;
}

.chat-container .right .write .write-link.attach:before {
    display: inline-block;
    float: left;
    width: 5px;
    height: 42px;
    content: '';
    /*background-image: url("http://s1.postimg.org/s5gfy283f/attachemnt.png");*/
    background-repeat: no-repeat;
    background-position: center;
}
.chat-container .right .write .write-link.smiley:before {
    display: inline-block;
    float: left;
    width: 20px;
    height: 42px;
    content: '';
    /*background-image: url("http://s14.postimg.org/q2ug83h7h/smiley.png");*/
    background-repeat: no-repeat;
    background-position: center;
}
.chat-container .right .write .write-link.send:before {
    display: inline-block;
    float: left;
    width: 20px;
    height: 42px;
    margin-left: 0px;
    content: '';
    /*background-image: url("http://s30.postimg.org/nz9dho0pp/send.png");*/
    background-repeat: no-repeat;
    background-position: center;
}
.chat-container .right .bubble {
    font-size: 13px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 2px;
    padding: 6px 14px;
    vertical-align: top;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.chat-container .right .bubble:before {
/*    position: absolute;
    top: 19px;
    display: block;
    width: 8px;
   /!* height: 6px;*!/
    content: '\00a0';
    -moz-transform: rotate(29deg) skew(-35deg);
    -ms-transform: rotate(29deg) skew(-35deg);
    -webkit-transform: rotate(29deg) skew(-35deg);
    transform: rotate(29deg) skew(-35deg);*/
}
.chat-container .right .bubble.you {
    float: left;
    color: #fff;
    /*background-color: #00b0ff;*/
    /*background-image: linear-gradient(to right bottom, #23b4ca, #00a0dc);*/
    -webkit-align-self: flex-start;
    align-self: flex-start;
    -moz-animation-name: slideFromLeft;
    -webkit-animation-name: slideFromLeft;
    animation-name: slideFromLeft;
    background-color: #f2f2f1;
    color: #66696a;
}
.chat-container .right .bubble.you:before {
    left: -3px;
    /*background-color: #00b0ff;*/
    background-image: linear-gradient(to right bottom, #23b4ca, #00a0dc);
}
.chat-container .right .bubble.me {
    float: right;
    color: #1a1a1a;
    background-color: #cfedfb;
    -webkit-align-self: flex-end;
    align-self: flex-end;
    -moz-animation-name: slideFromRight;
    -webkit-animation-name: slideFromRight;
    animation-name: slideFromRight;
}
.chat-container .right .bubble.me:before {
    right: -3px;
    background-color: #cfedfb;
}
.chat-container .right .conversation-start {
    position: relative;
    width: 100%;
    margin-bottom: 27px;
    text-align: center;
}
.chat-container .right .conversation-start span {
    font-size: 12px;
    display: inline-block;
    color: #999;
}
.chat-container .right .conversation-start span:before, .chat-container .right .conversation-start span:after {
    position: absolute;
    top: 10px;
    display: inline-block;
    width: 30%;
    height: 1px;
    content: '';
    background-color: #e6e6e6;
}
.chat-container .right .conversation-start span:before {
    left: 0;
}
.chat-container .right .conversation-start span:after {
    right: 0;
}
.chat_box{
    overflow: auto;
    padding: 0 20px;
}
.chat-container .right .timestamp{
    background: none;
    background-color: transparent !important;
    padding: 5px;
}
@keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }
    100% {
        margin-left: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
}
@-webkit-keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }
    100% {
        margin-left: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
}
@keyframes slideFromRight {
    0% {
        margin-right: -200px;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }
    100% {
        margin-right: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
}
@-webkit-keyframes slideFromRight {
    0% {
        margin-right: -200px;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }
    100% {
        margin-right: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
}
.credits {
    color: white;
    font-size: 11px;
    position: absolute;
    bottom: 10px;
    right: 15px;
}
.credits a {
    color: white;
    text-decoration: none;
}
.goto_meeting{
    background-color: #fff;float: left;height: 552px;width: 385px
}
.goto_meeting .left{
    background-color: #485163;
    height: 100%;
    width: 80px;
}

.goto_meeting .left button{
    background-color: #6a778a;
    border-radius: 50%;
    font-size: 22px;
    margin: 14px;
    padding: 12px;
    border: 1px solid #c3c5ca;
    color: #c3c5ca;
}

.btn-no-style{
    border: none;
}

.goto_meeting .right{
    background-color: #eaecec;
    height: 552px;
    width: 305px;
}
.goto_meeting .title{
    font-size: 28px;
    color: #485163;
    margin: 20px 0;
}
.goto_meeting .timer{
    font-size: 15px;
    color: #485163;
    margin: 20px 0;
}
.goto_meeting .attendees, .goto_meeting .video-call, .goto_meeting .screen-share, .goto_meeting .meeting, .goto_meeting .download{
    margin: 10px;
}
.goto_meeting  ul {
    list-style: none;
}
.goto_meeting .attendees ul li{
    padding: 10px 0px;
    border-bottom: 1px solid #b7b9b9;
    width: 280px;
}
.goto_meeting .attendees ul li span.active {
    color: green;
}
.goto_meeting .attendees ul li span{
    margin: 0 10px;
}

.goto_meeting li.active button{
    background-color: #01b17b;
    color: #ffffff;
}

.goto_meeting .video-call img{
    margin:-23px 19px -24px -2px; 
     /*-10px 0 0 -13px;*/
}

.online{
    background-color: rgb(89, 186, 39);
    border-radius: 12px;
    color: white;
    padding: 2px 0 2px 9px;
    width: 35px;
    height: 10px
}
.offline{
    background-color: #787878;
    border-radius: 12px;
    color: white;
    padding: 2px 0 2px 9px;
    width: 35px;
    height: 10px
}
.navbar_chat_icon{
    font-size: 21px;
    color: #999;
    padding: 8px 10px 5px;
}
.navbar_chat_icon:hover, .navbar_chat_icon:active{
    font-size: 21px;
    color: #999;
    padding:8px 10px 5px;
    background-color: #404040;
}

#oncall_timer{
    margin: 10px;
    width: 275px;
    position: absolute;
    top: 30px;
    right: 0px;
    background: #fff;
    z-index: 1;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid #0CA7D5;
}

#oncall_timer .top {

    background-color: #0CA7D5;
    border-bottom: 1px solid #d0d0d0;
    width: 100%;
    padding: 5px 21px;
    float: left;
    color: #fff;
}

#oncall_timer .top ul{
    list-style: none;
}

#oncall_timer .top ul li img{
    float: left;
    border-radius: 50%;
    width: 32px;
}
#oncall_timer .top ul li .name{
    font-size: 16px;
    margin-top: 4px;

}
#oncall_timer .top ul li .time{
    font-size: 12px;
}
#oncall_timer .top ul li span{
    float: left;

    margin-left: 12px;
}
#oncall_timer .bottom{
    padding: 4px 30px ;
    float: left;
}

#videos #handupDiv, #videos #fullscreenDiv, #videos #videoDiv, #videos #audioDiv, #videos #recordDiv, #videos #downloadDiv{
  float: left;
  border-radius: 50%;
  height: 31px;
  width: 31px;
  margin: 0 10px 10px 0;
  padding-left: 3px;
  padding-top: 3px;
}

#publisher {
  width: 270px;
  height: 200px;
  z-index: 2;
}

#subscriber {
  width: 270px;
  height: 200px;
  margin-top:6px; 
  z-index: 1;
}
.send-button{
        height: 70px;

}
#videos #handupDiv {
  background-color: #d70000;
}

#videos #fullscreenDiv, #videos #videoDiv, #videos #audioDiv, #videos #recordDiv, #videos #downloadDiv {
  background-color: #485163;
  z-index: 3;
}

#call-button-div, #audiocall-button-div, #previewButton {
  background-color: #01b17b;
}

#date_format, #share-screen {
  background-color: #01b17b;
}

button:focus {outline:0;}
input:focus {outline:0;}

.dropdown-menu {
  left:-238px !important;
  min-width: 300px;
}

.emoji {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-bottom: -0.25em;
    margin: 3px;
}
#smiley-tab {
  margin: 6px;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0px 12px 12px -12px rgba(0, 0, 0, 0.5);
}

#videos-container > video{
  width: 315px;
}
.callingicon{
    margin: -23px 19px -24px -2px;
    }

.searchclear {
    position: relative;
    right: 0px;
    top: 15px;
    bottom: -7px;
    height: 23px;
    margin: auto;
    font-size: 18px;
    cursor: pointer;
    color: #ccc;
}

/* Edited here for chat styles -- Rohan -- 09-14-2016*/

.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.nano>.nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    outline: none !important;
}
.pad-all {
    padding: 15px;
}
.mar-btm {
    margin-bottom: 15px;
}
.media-block .media-left {
    display: block;
    float: left;
}
.img-sm {
    width: 46px;
    height: 46px;
}
.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto;
}
.pad-hor {
    padding-left: 15px;
    padding-right: 15px;
}
.speech {
    position: relative;
    background: #f1f3f5;
    color: #66696a;
    display: inline-block;
    border-radius: 0;
    padding: 12px 20px;
}
.speech:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #f1f3f5;
    margin: 15px 0 0 -6px;
}
.speech-right>.speech:before {
    left: auto;
    right: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #cfedfb;
    border-right: 0;
    margin: 15px -6px 0 0;
}
.speech .media-heading {
    font-size: 1.2em;
    color: #317787;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: 300;
}
.speech-time {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: .8em;
    font-weight: 300;
}
.media-block .media-right {
    float: right;
}
.speech-right {
    text-align: right;
}
.pad-hor {
    padding-left: 15px;
    padding-right: 15px;
}
.speech-right>.speech {
    background: #cfedfb;
    color: #66696a;
    text-align: right;
}
.speech-right>.speech .media-heading {
    color: #a07617;
}

.form-control {
    font-size: 11px;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #e9e9e9;
    transition-duration: .5s;
}
.nano>.nano-pane {
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    width: 5px;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all .7s;
    transition: all .7s;
}
.write .btn{
    font-size: 18px;
}

/* Edited Css Here for Chats End -- Rohan -- 09-14-2016 */