/*  navbar custom styles */
html, body{
    /* font-family: 'Roboto', sans-serif;*/
    font-family: Helvetica,FreeSans,"Liberation Sans",Helmet,Arial,sans-serif;
    /* font-size: 100%;*/
    font-size: 13px;
    background:rgb(233,233,233);
}

.navbar-default {
    background-color: #3f3f3f;
    background-image: -moz-linear-gradient(center top , #696969 0%, #3f3f3f 100%);
    border-color: #333;
    border-radius: 0px;
    padding-top: 7px;

    height: 52px;

}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight: 300;
}
.navbar {
    min-height:100%;
    margin-bottom:0;
}
.navbar-nav {
    /*margin: 18px 0 0 0;*/
    float:right;
}
.navbar-brand{
    color: white !important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #333;
    background-color:#fff;
    padding: 14px;

}
.navbar-brand {
    height:100%;
    padding: 0;
    margin: -5px 0px 0px -47px !important;
}
.navbar-default .navbar-nav > li > a:hover  {
    color: #333 !important;
    background-color:#fff !important;
    padding: 14px;

}

.navbar-nav > li > a {
    padding:10px 15px;
}

.container{
    width: 975px;
}
.responsive-nav {
    background-color: #1a1a1a;
    background-image: -moz-linear-gradient(center top , #1a1a1a 0%, #303030 100%);
    z-index: 1;
    min-height: 30px;
}

.dropdown-menu.columns-2 {
    min-width: 400px;
}
.dropdown-menu.columns-3 {
    min-width:550px;
}
.multi-column-dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
}
.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
}
.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
.dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
}

#search_wrapper {
    margin-top:8em;
}
#search_form h1 {
    color: #222f50;
    font-size: 2em;
    margin-bottom: 10px;
    font-weight:400;
}
#search_wrapper p {
    margin: 20px 0;
}
#search_form input[type="text"]{
    padding: 8px;
    font-size: 0.85em;
    margin: 10px 0;
    border: 1px solid #999;
    color: #999;
    background: none;
    outline: none;
    font-weight: 300;
}
#search_form label {
    position: relative;
    z-index: 1;
}

.error {
        background-color: #c9342f;
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(top, #dd5959 0%,#c15252 100%);
    background: -moz-linear-gradient(top, #dd5959 0%,#c15252 100%);
    background: -o-linear-gradient(top, #dd5959 0%,#c15252 100%);
    background: linear-gradient(top, #dd5959 0%,#c15252 100%);
    -webkit-box-shadow: 0 0 0 1px #c15252,0 1px 2px rgba(0,0,0,0.45);
    -moz-box-shadow: 0 0 0 1px #c15252,0 1px 2px rgba(0,0,0,0.45);
    box-shadow: 0 0 0 1px #c15252,0 1px 2px rgba(0,0,0,0.45);
    overflow: hidden;
    display: block;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    position: relative;
    padding: 10px 20px 10px 50px;
}

#city_1 {
    /*  height: 106px;
      width: 516px;*/
    display: block;
}
#city_1 ul {
    float: left;
    font-size: 12px;
    color: #010101;
    list-style: none;
    padding:5px 0 0 0;
    margin-right: 6%;
}
#city_1 ul li {
    margin-bottom: 5px;
    padding-left: 10px;
}

.banner{
    background:url(../images/linkedin_bg.jpg)no-repeat;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    height: 650px;

}
.register_banner{
    background:url(../images/people.jpeg)no-repeat;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    height: 650px;

}
.inner-wrapper{
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 30px 40px;
    width: 455px;
    z-index: 999999999;
}

.inner-wrapper .panel-title{
    background: transparent url("../images/login_logo_linkedin.png") no-repeat scroll center top;
    height: 59px;
    margin-bottom: 25px;
    margin-top: 0;
    overflow: hidden;
    text-align: left;
    text-indent: -119988px;
    width: 375px;
}
.footer{
    padding:1em 0;
    background:#444;
}
.footer_text p{
    color: #fff;
    font-size: 0.85em;
    line-height: 1.8em;
    font-weight: 300;
}
.grid_3 p{
    color:#fff;
    font-size:0.85em;
    line-height:1.8em;
    font-weight:300;
}
ul.f_list{
    padding:0;
    margin:0;
    list-style:none;
    float:left;
}
ul.f_list2{
    padding:0;
    margin:0;
    list-style:none;
}
ul.f_list1{
    margin-right:30%;
}
ul.f_list li, ul.f_list2 li{
    font-size:0.85em;
    font-weight:300;
    line-height:2em;
}
ul.f_list li a, ul.f_list2 li a{
    color:#fff;
}
.grid_3 h4{
    color:#fff;
    font-size:1.3em;
    font-weight:400;
    margin-bottom:1em;
}
.footer-list ul{
    padding:0;
    margin:0;
    list-style:none;
}
.footer-list li {
    padding-bottom: 20px;
}
.footer-list li p {
    overflow: hidden;
    padding: 0;
    color:#fff;
    font-size:0.85em;
    line-height:1.5em;
    font-weight:300;
}

.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.form-horizontal label{
    font-weight: 100;
}
.thumbnails img{
    width: 10%;
}
.thumbnails li{
    list-style: none;
}


/*  registration */
.reg-content-wrapper {
    background: #eee none repeat scroll 0 0;
    position: relative;
}


.main .reg-content-wrapper .form-container {
    position: relative;
    width: 100%;
}
.reg-content-wrapper .form-container {
    background: #fff none repeat scroll 0 0;
}

.reg-content-wrapper .form-container .form-wrapper {
    background-color: #eee;
    padding: 24px 40px 28px;
    margin-left: -65px;
}

.reg-content-wrapper .form-container h1 {
    color: #333;
    font-size: 22px;
    font-weight: lighter;
    line-height: 24px;
    margin-bottom: 18px;
    margin-top: 0;
    text-align: center;
}


.reg-content-wrapper .form-container h2 {
    color: #333;
    font-size: 16px;
    font-weight: lighter;
    line-height: 18px;
    margin-bottom: 18px;
    margin-top: -5px;
    text-align: center;
}


.reg-content-wrapper .form-container input[type="text"], .reg-content-wrapper .form-container input[type="email"], .reg-content-wrapper .form-container input[type="password"] {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    box-sizing: border-box;
    color: #434649;
    font-size: 16px;
    font-weight: normal;
    height: 32px;
    line-height: 18px;
    outline: 0 none;
    padding: 0 0 0 6px;
    position: relative;
    transition: border-color 300ms ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
    z-index: 4;
}


.reg-content-wrapper .form-container label {
    color: #66696a;
    display: block;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    margin-bottom: 2px;
    position: relative;
    transition: top 250ms ease 0s, opacity 250ms ease 0s;
    width: 100%;
    z-index: 2;
}
.reg-content-wrapper .form-container .input-fields li {
    margin-bottom: 15px;
    position: relative;
}

.fodal {
    width: 400px;
}

.inner-menu{
    list-style: none;
    margin: 6px 0 0 -35px;
    padding: 0;
}

.inner-menu li a{
    color: white;
    text-decoration: none;
    padding: 6px 20px;
    font-size: 13px;
    font-family:  Helvetica,FreeSans,"Liberation Sans",Helmet,Arial,sans-serif;
    color: #D7D7D7;

}
.inner-menu li a:hover{
    color : #6490a9;
}

.profile-card{
    border: 1px solid #ffffff;
    float: left;
    background-color: #ffffff;
    font-family: Helvetica,FreeSans,"Liberation Sans",Helmet,Arial,sans-serif;
    padding: 25px 0;
    width: 650px;
    color: #333333;

}

.profile-mh{
     min-height: 468px; 
}

.profile-card img{
    width: 215px;
    height: 165px;
}
.profile-card .pname{
    font-size: 26px;
    font-weight: bold;
    color: #000000  ;
}
.profile-card .designation{
    font-size: 18px;
}
.profile-card .location{
    color: #66696A;
    background-color: transparent;
    font-size: 13px
}
.profile-card .previous-comapny{
    margin-top: 10px;
}
.profile-card .previous-comapny span, .profile-card .education span{
    color: #afafaf;
    font-size: 11px;
}

.profile-card .profile_btns{
    margin-top: 25px;
}
.zero-padding{
    padding: 0;
}
.profile-card .connections-count{
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    text-align: right;
}
.profile-card .connections-count p{
    font-size: 11px;
    color: #afafaf;
    font-weight: normal;
    margin-top: -5px;
}
.profile-strength{
    background-color: #ffffff;
}

.card{
    background-color: #ffffff;
    color: #333;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    float: left;
    margin: 10px 0;
    width: 650px;
}
.card .summary, .card .experience, .card .education{
    font-size: 13px;
    font-weight: normal;
    line-height: 17px;
    margin: 20px;
    padding-bottom: 35px;
    padding-top: 35px;
    float: left;
    text-align: justify;
    width: 610px;

}
.card .summary .card-title, .card .education .card-title, .card .experience .card-title{
    color: #AFB2B5;
    font-size: 26px
}
.card .summary .description, .card .experience .description{
    margin: 30px 0;
}

.summary-links{
    color: #666666;
    font-size: 13px;
    font-weight: bold;
    font-family: Helvetica,FreeSans,"Liberation Sans",Helmet,Arial,sans-serif
}
.summary-links a {
    color: #666666;
    text-decoration: none;
    background-color: #f2f2f2;
    padding: 5px 10px;
    margin: 1px;
}
.summary-links a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #00A0DC;
    padding: 5px 10px;
}
.card .experience .role{
    font-size: 18px;
    color: #434649;
    margin-top: 10px ;
    
}
.card .experience .company{
    font-size: 16px;
    color: #66696A;
    margin-top: 10px;
}
.card .experience .period{
    color: #66696A;
    margin-top: 10px;
    font-size: 13px;
}

.navbar-user-search{
    margin-top: -2px;
}
.navbar-user-search .btn_menu{
    background-color: #5f5f5f;
    border: 1px solid #6B6b6b;
    color: #999;
    width: 43px;
    font-size: 19px;
    padding: 0  ;
}
.navbar-user-search .form-control{
    height: 30px;
    font-size: 12px;
}

.navbar-user-search .search{
    height: 30px;
    margin: 0 0 0 -25px;
    width: 50px;
    font-size: 12px;
}

.navbar-user{
    margin: 0 -68px 0 0;
    color: white
}
.navbar-user img{
    width: 32px;
    margin: -1px 10px 0 5px;
}


.advanced_btn{
    background:none!important;
    border:none;
    padding:0!important;
    cursor: pointer;
    color: #d7d7d7;
    margin: 7px 0 0 -60px;
    font-size: 11px;
}
.advanced_btn:hover{
    color: #2e8dd7
}


.account-panel-popup{
    border: 5px solid #2f2f2f;
    width: 345px;
    position: absolute;
    right: 140px;
    top: 42px;
    z-index: 3;
}

.vcall-popup{
   background-color: #eaecec;
    border-radius: 16px;
    width: 253px;
    position: fixed;
    margin-top: 202px;
    margin-left: 580px;
    height: 126px;
    padding: 9px;
    z-index: 4;
}
.fa-green{
    color: green;
}

.fa-red{
    color: maroon;
}
.call-button{
    display: inline-table;
    background: white;
    border-radius: 54px;
    height: 81px;
    width: 84px;
    
    
}
.fa-5x{
    margin-top: -8px;
}
.accept{
    padding: 13px;
    padding-left: 17px;
    margin-top: 10px;
    margin-left: 24px;
}
.reject{
    padding: 11px;
    padding-top:11px;
    padding-left: 17px;
    margin-top: 8px;
    margin-left: 24px;
}
.account-panel-popup .panel-heading{
    color: #ffffff;
    font-weight: bold;
    background-color: #2f2f2f;
    border-color: #2f2f2f;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-panel-popup .panel{
    margin-bottom: 0;
    border-color: #2f2f2f;
    border-radius: 0;
}
.account-panel-popup .panel-body{
    padding: 0;
}

.account-panel-popup .fa-linkedin-square, .account-panel-popup .fa-question-circle{
    font-size: 18px;
    color: #ccc;
}

#search_results{
    background-color: #fff;
    left: -120px;
    max-height: 560px;
    overflow: auto;
    padding: 10px 20px;
    position: absolute;
    box-shadow: 0 5px 4px 3px rgba(0, 0, 0, 0.3);
    border-bottom: 5px solid #666666;
    top: 33px;
    width: 865px;
    z-index: 999;

}
#search_results .image{
    width: 36px;
}

#search_results .search-type{
    text-align: right;
    color: #787878  ;
    padding-top: 20px;
}
#search_results ul{
    list-style: none;
    float: left;
    padding: 0;
}
#search_results ul li{
    padding: 10px;
    float: left;
}

#search_results ul li .title{
    color: black;
    font-weight: bold;
}

#search_results ul li .title span{
    color: #02a1da;
}

#search_results ul li .designation{
    color: #787878;
}

#search_results a{
    float: left;
}
#search_results a:hover{
    background-color: #eeeeee;
}

.search_btn{
    height: 30px;
    margin: 0 0 0 -25px;
}
/* Portrait tablets and small desktops  */

@media (min-width: 1280px) {

}

@media   (min-width: 993px) {

}

@media (min-width: 768px) and (max-width: 992px) {

}

@media (min-width: 360px) and (max-width: 767px) {

}


@media (max-width: 350px) {


}

.home-profile-card{
    border: 1px solid #ffffff;
    float: left;
    background-color: #ffffff;
    font-family: Helvetica,FreeSans,"Liberation Sans",Helmet,Arial,sans-serif;
    padding:0;
    width: 650px;
    color: #333333;

}

.home-profile-card img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.home-profile-card .pname{
    font-size: 18px;

    color: #434649  ;
}
.home-profile-card .designation{

    color: #434649  ;
}
.home-profile-card .right-bar .count{
    color: #008ccb;
    font-size: 16px;
    width: 50px;
    text-align: right;
    float: left;
}
.home-profile-card .right-bar {
    padding: 10px 0;
}
.home-profile-card .right-bar .message{
    float: right;
    width: 214px;
    color: #434649  ;
}
.home-profile-card .right-bar .clearfix{
    border-bottom: 1px solid #dddddd;
    margin: 10px 0;
}

#ui-id-1{
    background-color: #fff;
    left: 225px !important;
    max-height: 560px;
    overflow: auto;
    padding: 10px 20px;
    position: absolute;
    box-shadow: 0 5px 4px 3px rgba(0, 0, 0, 0.3);
    border-bottom: 5px solid #666666;
    top: 38px !important;
    width: 865px;
    z-index: 999;

}
#ui-id-1 .image{
    width: 42px;
    height: 38px;
}

#ui-id-1 .search-type{
    text-align: right;
    color: #787878  ;
    padding-top: 20px;
}
#ui-id-1{
    list-style: none;
    float: left;
    padding: 0;
}
#ui-id-1 li{
    padding: 10px;
    float: left;
    margin-left: 120px;
}

#ui-id-1 li .title{
    color: black;
    font-weight: bold;
}

#ui-id-1 li .title span{
    color: #02a1da;
}

#ui-id-1 li .designation{
    color: #787878;
}

#ui-id-1 a{
    float: left;
    width: 500px;
}
#ui-id-1 a:hover{
    background-color: #eeeeee;
}
#picvideo{
    width: 300px;
}

 #search_results{
 overflow: scroll;
 width: 700px;
 max-height:400px;
}
#clear_search{
 border: 0px;
 text-decoration: none;
}

.msg-notification-popup{
    border: 5px solid #2f2f2f;
    width: 345px;
    position: absolute;
    right: 190px;
    top: 42px;
    z-index: 1;
}
.msg-notification-popup .panel-heading{
    color: #ffffff;
    font-weight: bold;
    background-color: #2f2f2f;
    border-color: #2f2f2f;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.msg-notification-popup .panel{
    margin-bottom: 0;
    border-color: #2f2f2f;
    border-radius: 0;
}
.msg-notification-popup .panel-body{
    padding: 0;
}

.msg-notification-popup .fa-linkedin-square, .msg-notification-popup .fa-question-circle{
    font-size: 18px;
    color: #ccc;

}
.msg-notification-popup .custab .col-md-12{
    padding: 10px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #ccc;
    min-height: 70px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}
.msg-notification-popup .custab .col-md-12:hover{
    background-color: #ebeced;
}
.msg-notification-popup .custab .col-md-12 #notificationImg{
    width: 45px;
}
.msg-notification-popup .custab .message{
    color: #66696a;
}

.notification-top-badge{
   margin: -22px -5px 0;
   background-color: #d50000;
}
.notification-left-badge{
   margin: 0 0 0 5px;
   background-color: #d50000;
}
.notification-msg-badge{
   background-color: #d50000;
}

.radio-text{
   margin: 10px;
}
.webcam-upload img{
   padding: 10px;
   width: 285px;
}
.pcard{
   width: 750px;
   height: 500px;
}
.navbar_chat_icon{
    font-size: 21px;
    color: #999;
    padding: 8px 10px 5px;
}
.navbar_chat_icon:hover, .navbar_chat_icon:active{
    font-size: 21px;
    color: #999;
    padding:8px 10px 5px;
    background-color: #404040;
}
.new-image{
    height: 25px;
    margin: -21px 0 0 -27px;
    width: 38px;
    -ms-transform: rotate(4deg); /* IE 9 */
    -webkit-transform: rotate(4deg); /* Chrome, Safari, Opera */
    transform: rotate(4deg);

    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}