<div class="footer">
   <div class="container">
      <p style="color: #ffffff;"> © 2016-17 <a href="http://atmecs.com"> ATMECS</a>. All rights reserved.</p>
   </div>
</div>
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5743ff1b6ba9650303684ca9/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>