<div ng-controller="HeaderController">
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="public/images/logo_small.png"></a>
                    <input type="hidden" id="username" ></input>
                </div>
            </div>
            <div class="col-md-10" style="padding: 0;">
                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px;">
                    <div class="col-md-10 zero-padding">
                        <!--<form class="" role="search" style="margin-top: 4px;">-->
                        <div class="col-md-10">
                            <form class="navbar-user-search">
                                <div class="col-md-12 zero-padding">
                                    <div class="col-md-10 ">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default btn_menu" type="button"><i class="fa fa-align-justify"></i></button>
                                            </div>
                                            <input type="text" class="form-control" ng-model="searchText" placeholder="Search for people, jobs, companies, and more..." name="q" id="top-search-box">
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-primary search_btn" type="button" ng-click="searchProfile()" id="top-search-button"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
        
                            </form>
                        </div>
                    </div>
                    <div class="col-md-2">
                      <a href="/#/home/connect" id="msgs-notifications" class="navbar_chat_icon"><span class="fa fa-comments"></span><span class="badge notification-top-badge">{{mcount}}</span> </a>
                        <p class="navbar-right navbar-user" ng-mouseover="hoverIn()" >  <img src="uploads/{{userData.user_id}}.jpg?time={{getTime()}}" alt="..."   id="my-avatar" onError="this.src='public/images/default-avatar.png'"> 
     
                        
                        </p>
                    </div>
                     <!--search result floating window-->
                    <div id="search_results" ng-show="isSearch">
                        <span class="pull-right"><a  ng-click="clearSearch()">Clear Search</a></span>
                        <div class="col-md-12">
                            <div class="col-md-1 zero-padding search-type">People</div>
                            <div class="col-md-11 zero-padding">
                                <ul id="top-search-results" ng-repeat="x in searchProfileData">
                                    <li><a href="/#/home/remoteprofile/{{x.user_id}}">{{x.first_name}} {{x.last_name}}</a></li>
                                    

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.navbar-header-->

            <div class="clearfix"> </div>
        </div>
    </div>

    <!--/.navbar-collapse-->
</nav>
<div id="responsive-nav-scrollable" class="responsive-nav" style="position: static; width: auto;">
    <div class="wrapper container">
        <ul class="navbar-nav pull-left inner-menu">
            <li><a href="/#/home">Home</a></li>
            <li><a href="/#/home/profile">Profile</a></li>
            <li><a href="/#/home/connect">Connect</a><span><img src="public/images/new.png" class="new-image"></span></li>
            <li><a href="#">My Network</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Interests</a></li>
        </ul>
    </div>
</div>
                   <div class="account-panel-popup" ng-mouseleave="hoverOut()" ng-show="hoverEdit">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" style="font-size: 14px">  Account & Settings</h3>
            </div>
            <div class="panel-body">
                <table class="table   custab">
                    <tr>
                        <td style="width: 10px;" ><img src="uploads/{{userData.user_id}}.jpg?time={{getTime()}}"  style="width: 20px;" alt="..."  onError="this.src='public/images/default-avatar.png'" ></td>
                        <td> {{userData.first_name}} {{userData.middle_name}} {{userData.last_name}}  </td>
                        <td  class="blue-text-color" ng-click="doLogout()"> <a   style="text-decoration: none;">Logout</a> </td>
                    </tr>
                    <tr>
                        <td>&nbsp;<span class="fa fa-linkedin-square" ></span></td>
                        <td >Change Password</td>
                        <td class="blue-text-color"><a href="#" style="text-decoration: none;">Change</a></td>
                    </tr>
                    <tr>
                        <td>&nbsp;<span class="fa fa-linkedin-square" ></span></td>
                        <td >Account: Basic</td>
                        <td class="blue-text-color">Try Premium</td>
                    </tr>
                    <tr>
                        <td>&nbsp;<span class="fa fa-question-circle" ></span></td>
                        <td> Help Center</td>
                        <td class="blue-text-color">Get Help</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    

    </div>
    <div class="row">
        <div class="vcall-popup" ng-hide="true">
            <div class="call-button accept">
                <i class="fa fa-phone fa-5x fa-green" aria-hidden="true"></i>
                </div> 
                <div class="call-button reject"><i class="fa fa-times fa-5x fa-red" aria-hidden="true"></i></div>
</div></div>
    
